.categories {
  background: #0d0d0d; /* темний фон як у макеті */
  padding: 80px 20px;
}

.categories-container {
  max-width: 1200px;
  margin: 0 auto;

  display: flex;
  gap: 30px;
  justify-content: center;
}

/* карточки */
.category-card {
  width: 280px;
  height: 220px;

  background: #1a1a1a;
  border-radius: 16px;

  display: flex;
  align-items: center;
  justify-content: center;

  color: white;
  font-size: 18px;

  transition: 0.3s;
}

.category-card:hover {
  transform: translateY(-5px);
}
