.categories {
  background: linear-gradient(
      to bottom,
      rgba(0, 0, 0, 0.7),
      rgba(0, 0, 0, 0.4),
      rgba(0, 0, 0, 0.7)
    )
    #1a1a1a;
  padding: 80px 20px;
}

.categories-container {
  max-width: 1200px;
  margin: 0 auto;

  display: flex;
  gap: 30px;
  justify-content: center;
}

.category-card {
  width: 280px;
  height: 220px;

  background: #1a1a1a;
  border-radius: 16px;

  display: flex;
  align-items: center;
  justify-content: center;

  font-size: 18px;

  transition: 0.3s;
}

.category-card:hover {
  transform: translateY(-5px);
}
