.category-card {
  width: 479px;
  height: 400px;

  background-size: cover;
  background-position: center;

  border-radius: 16px;
  overflow: hidden;

  position: relative;
  cursor: pointer;

  transition: 0.3s;
  display: flex;
  flex-direction: column;
  align-items: center;
  background: linear-gradient(
      to bottom,
      rgba(0, 0, 0, 0.7),
      rgba(0, 0, 0, 0.4),
      rgba(0, 0, 0, 0.7)
    )
    #1a1a1a;
}

/* hover ефект */
.category-card:hover {
  transform: translateY(-8px);
}

.category-card:hover {
  background: rgba(0, 0, 0, 0.3);
}

.category-image {
  width: 400px;
  height: 400px;

  background-size: cover;
  background-position: center;

  border-radius: 16px;
  margin-bottom: 20px;

  transition: 0.3s;
}

.category-image:hover {
  transform: scale(1.03);
}

/* кнопка під карткою */
.category-btn {
  background: transparent;
  color: #fabf59;

  border: 1px solid #fabf59;
  border-radius: 30px;

  padding: 12px 24px;
  font-size: 16px;

  cursor: pointer;
  transition: 0.3s;
}

.category-btn:hover {
  background: #fabf59;
  color: black;
}
