.character-card {
  position: relative;
  border-radius: 16px;
  overflow: hidden;
  background: #111;
  height: 452px;
  width: 295px;
  transition: 0.3s;
}

.character-card:hover {
  transform: translateY(-6px);
}

.character-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* затемнення як у макеті */
.character-overlay {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 20px;

  background: linear-gradient(
    to top,
    rgba(0, 0, 0, 0.95),
    rgba(0, 0, 0, 0.4),
    transparent
  );

  color: white;
}

.character-overlay h3 {
  margin: 0 0 6px;
}

.character-overlay span {
  color: #f4c542;
  display: block;
  margin-bottom: 8px;
}

.more-btn {
  background: none;
  border: none;
  color: #f4c542;
  cursor: pointer;
}

.more-wrapper {
  position: relative;
  display: inline-block;
}

/* popup */
.character-info {
  position: absolute;
  bottom: 45px;
  left: 0;

  width: 180px;
  padding: 10px;

  background: #1a1a1a;
  border-radius: 14px;
  color: white;

  font-size: 12px;
  line-height: 1.5;

  /* початковий стан */
  opacity: 0;
  visibility: hidden;

  transform: translateY(20px) scale(0.95);

  transition:
    opacity 0.25s ease,
    transform 0.25s ease,
    visibility 0.25s;

  box-shadow:
    0 25px 50px rgba(0, 0, 0, 0.7),
    0 0 20px rgba(244, 197, 66, 0.1);

  z-index: 10;
}

/* золотий текст */
.character-info b {
  color: #f4c542;
}

/* hover стан */
.more-wrapper:hover .character-info {
  opacity: 1;
  visibility: visible;
  transform: translateY(0) scale(1);
}
