.page {
  min-height: 100vh;

  background: linear-gradient(
      to bottom,
      rgba(0, 0, 0, 0.7),
      rgba(0, 0, 0, 0.4),
      rgba(0, 0, 0, 0.7)
    )
    #1a1a1a;

  padding: 80px 20px;
}

.page-container {
  max-width: 1200px;
  margin: 0 auto;
}

.page-title {
  text-align: center;
  font-size: 80px;
  color: #fabf59;
  margin-bottom: 50px;
  letter-spacing: 2px;
  text-transform: uppercase;
}
